main {
    width: 50%;
    max-width: 600px;
    margin: 1rem auto;
    padding: 1rem;
}

@media (max-width: 700px) {
    main {
        width: 90%;
    }

    main iframe {
        height: calc(100vw * 0.5);
    }
}

iframe,
textarea {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

iframe {
    border: 1px solid black;
    box-shadow: 0 0 12px 2px hsla(0, 0%, 0%, 0.2);
    aspect-ratio: 4 / 3;
    height: calc(100vw * 0.25);
    max-height: 320px;
}

textarea {
    font-size: large;
    padding: 1rem;
    resize: vertical;
    font-family: monospace;
}
